.text1, select {
    width: 95%;
    padding: 5px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  .pass1, select {
    width: 95%;
    padding: 5px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  .card_contain{
    padding: 1rem;
  }

  @media screen and (max-width:863px){
    .responsive{
      padding: 2rem 0 !important;
    }
  }

  @media screen and (max-width:770px){
    .sign_up_contain{
      font-size: .7rem !important;
    }
    .sign_up_contain h4{
      font-size: 1.1rem;
    }
  }