@import url('https://fonts.googleapis.com/css2?family=Acme&family=Lobster&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    position: relative;
    overflow-x: hidden;
}
.row.ofheader{
    box-shadow: .1rem .1rem 1rem rgb(170, 170, 170);
    background-color: #C58206;
    padding: .7rem 0;
}
.admin_header_logo P{
    font-size: 2rem;
    color: white;
    font-weight: bold;
    font-family: 'Acme', sans-serif;
}

.name{
    color: white;
    cursor: pointer;
    user-select: none;
    font-size: 1.2rem;
}

.humburger{
    cursor: pointer;
}

.Admin_settings{
    position: absolute;
    top: 110%;
    right: 10%;
    display: none;
}
.Admin_settings ul{
    box-shadow: .1rem .1rem 1rem rgb(170, 170, 170);
    padding: 0 !important;
    list-style: none;
}
.Admin_settings ul a{
    text-decoration: none;
    color: black;
}
.Admin_settings ul li{
    padding: .2rem .7rem;
    background-color: rgb(255, 254, 254);
}
.Admin_settings ul li:hover{
    background-color: rgb(235, 232, 232);
}


.hidden_menu{
    position: fixed;
    /* background-color: rgb(255, 255, 255); */
    background-color: #C58206;
    top: 85px;
    z-index: 1100;
    right: -100%;
    transition: all .3s ease;
    width: 30%;
    border-radius: .1rem;
    box-shadow: .1rem .1rem 1rem rgb(170, 170, 170);
    padding: 1rem .5rem;
}

.show_menu{
    right: 0%;
    transition: all .3s ease;
}

.hidden_menu ul{
    list-style: none;
    margin: 0%;
    padding: 0%;
}
.hidden_menu ul a{
    text-decoration: none;
    color: white;
}
.hidden_menu ul li{
    padding: .13rem .5rem;
    border-radius: .2rem;
}
.hidden_menu ul li:hover{
    background-color: orange;
}





.admin_heading_m{
    font-weight: 400;
    /* font-weight: 400; */
}

input[type='text']{
    height: 30px !important;
}

.pass_input input{
    height: 30px !important;
}








@media screen and (max-width:880px){
    .hidden_menu{
        width: 50%;
    }
}

@media screen and (max-width:600px){
    .admin_header_logo p{
        font-size: 1.25rem;
    }
    .name{
        font-size: .9rem;
    }
    .hidden_menu{
        top: 67px;
    }
    .hidden_menu ul{
        font-size: .9rem;
    }
}

@media screen and (max-width:370px){
    .hidden_menu{
        width: 100%;
    }
}

@media screen and (max-width:350px){
    .heading_flex{
        display: flex;
        flex-direction: column !important;
    }
}

