.parent_hover{
    position: relative;
}
.child_hover{
    width: 92%;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
}
.child_hover .center{
    text-align: center;
    padding: .2rem 0;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all .2s ease;
}
.child_hover .center .custom_icon{
    margin: 0 .3rem;
    font-size: 1.5rem;
    color: white;
}
.child_hover .center .custom_icon:hover{
    color: #C58206;
}
.parent_hover:hover{
    cursor: pointer;
}
.parent_hover:hover .child_hover .center{
    opacity: 1;
}